.jumbotron {
  background-image:url('http://cdn-maf1.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/media/Back%20flex.jpg?itok=sYVGWDDi');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1, .jumbotron p {
  position: relative;
  top: 325px;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
}



/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#6b6b47 !important;
}

.navbar {
    font-family: Montserrat, sans-serif;
}

.jumbotron h1, p {
    color: white;
}

#muscles {
  margin-left: 25px;
  margin-top: 50px;
  font-size: 30px;
}

#excercises {
  margin-left: 30px;
  font-size: 30px;
}

.row {
  margin-top: 40px;
}

.videos h1 {
  margin-bottom: 50px;
}

.row p {
  color: black;
  cursor: pointer;
}

.thumbnails img {
  height: 80px;
  border: 4px solid #555;
  padding: 1px;
  margin: 0px 10px 10px 0px;
}

.thumbnails img:hover {
  border: 4px solid #00ccff;
  cursor: pointer;
}

.desc {
padding: 15px;
text-align: center;
}



.img-responsive {
display: inline-block;
}


.thumbnails img {
  height: 80px;
  border: 4px solid #555;
  padding: 1px;
  margin: 0px 10px 0px 0px;
}

.thumbnails img:hover {
  border: 4px solid #00ccff;
  cursor: pointer;
}

.preview img {  
  border: 4px solid #444;
  padding: 1px;
  width: 722px;
 }


#slideshow {  
height:500px; 
width:680px; 
}

@media (max-width: 480px){
  #slideshow {  
height:200px; 
width:680px; 
}
}


#bicep {
  margin: 60px;
}


 @media (min-width: 1100px) {

#rightArrow {
  position: relative;
  top: 230px;
  right: 160px;
  margin-left: 60px;
  cursor: pointer;
}
#leftArrow {
  position: relative;
  top: 230px;
  right: -140px;
  margin-right: 60px;
  cursor: pointer;
}}

@media (min-width: 769px) and (max-width: 1099px) {
#rightArrow {
  position: relative;
  top: 230px;
  right: 80px;
  margin-left: 60px;
  cursor: pointer;
}
#leftArrow {
  position: relative;
  top: 230px;
  right: -40px;
  margin-right: 60px;
  cursor: pointer;
}}

@media (max-width: 768px){
  #rightArrow {
  position: relative;
  margin-top: 20px;
  cursor: pointer;
}
#leftArrow {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
}

@media (min-width: 1150px){

#left {
  position: relative;
  left: 150px;
}

#right {
  position: relative;
  left: -150px;
}
}

@media (min-width: 768px) {
  .col-sm-2 {
    position: relative;
    top: 40px;
  }
}
